.App {
  background-color: #0f044c;
  background-image: linear-gradient(#242f9b, #141e61, #0f044c);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: azure;
  padding-bottom: 50px;
}
.image {
  padding-right: "0%";
  height: 300px;
  width: 230px;
  margin: 35px;
}
p {
  padding: 5% 5%;
}
.card {
  background-color: #0f044c;
  margin: 70px;
  /*background-image: linear-gradient(#242F9B,#141E61,#0F044C); */
}
.heading {
  padding: 25px;
  font-family: "Montserrat", serif;
  font-size: 60px;
}
.heading:hover {
  color: rgba(202, 185, 185, 0.918);
}
.heading2 {
  padding-bottom: 50px;
  font-family: "Montserrat", serif;
  font-size: 35px;
}
.description {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
  margin: 30px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
img:hover {
  box-shadow: 0 0 2px 1px white;
}
