* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #031321;
  line-height: 60px;
}
.welcome
{
  color: #65e7e3;
  text-shadow: 2px 3px 5px #50dfdb, 0 4px 3px #141441;
  text-shadow:violet;
}

form {
  display: block;
  position: relative;
}

input {
  height: 18px;
  flex: 0 0 200px;
  margin-left: 20px;
}

label {
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 12px;
  margin-bottom: 10px;
}

input {
  height: 18px;
  flex: 0 0 200px;
  margin-left: 20px;
  
}

input {
  position: relative;
  color: black;
  padding: 8px,15px;
  
  margin-left: 1cm;
  letter-spacing: 4 px;
  text-decoration: none;
  font-size: 14px;
  font-style: italic;
  overflow: hidden;
}

.form-group {
  margin-left: 25px;
  margin-top: 14px;
}

.name1 {
  width: 192px;
}

.header {
  letter-spacing: 1px;
  font-size: 1.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left:3.5cm ;
  margin-top: 1cm;
  margin-bottom: 2rem;
  color: #65e7e3;
  text-shadow: 2px 3px 5px #2d1680, 0 4px 5px #0000ff;
}

.btn-change3 {
  
  margin-left: 3.8cm;
  margin-top: 1cm;
  height: 50px;
  width: 100px;
  background: lightseagreen;

  float: left;
  border: 0px;
  color: #fff;
  box-shadow: 0 0 1px #ccc;
  border-radius: 30px;
  /* -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;*/

  transition: .25s ease-in;
 
  -webkit-box-shadow: 0px 0px 0 0 #387c9e inset, 0px 0px 0 #31708f inset;
}
.btn-change3:hover {
  margin-left: 3.8cm;
  /* -webkit-box-shadow: 0px 50px 0 0px #31708f inset , 0px -50px 0 0px #31708f inset;*/
  box-shadow: 0px 50px 0 0px #0c3b6e inset, 0px -50px 0 0px #31708f inset;
}

.logoutcss {
  
  height: 50px;
  width: 100px;
  background: lightseagreen;
  margin-left: 60px;
  margin-top: 20px;
  float: left;
  border: 0px;
  color: #fff;
  box-shadow: 0 0 1px #ccc;
  border-radius: 30px;
  /* -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;*/

  transition: ease-in 2s;
  /*
  transition: ease-in ;
  */
  -webkit-box-shadow: 0px 0px 0 0 #31708f inset, 0px 0px 0 #31708f inset;
}

.logoutcss:hover {
  
  box-shadow: 0px 50px 0 0px #31708f inset, 0px -50px 0 0px #31708f inset;
}



* {
  margin: 0;
  padding: 0;
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
}
body {
  background-color: #2c0d75d0;
  /*background-image: huehue\Border.jpg*/
  /*background-image: huehue\Border.jpg;*/
}
.background-img {
 
  height: 400px;
  width: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5% auto;
  padding: 20px;

  border: 9px solid #031321;

  border-radius: 4px;
  box-shadow: 0px 0px 5px #031321;
  position: relative;
}
.content h2 {
  font-size: 25px;
}
.box {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 58.8%;
  height: 120%;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90), 0 0 50px rgb(49, 58, 112);
  border: 2px solid #2a3cad;
  color: white;
  padding: 20px;
}
.box:before {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  pointer-events: none;
}
.box .content {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid #f0a591;
  padding: 20px;
  text-align: centre;
  box-shadow: 5px 5px 10px rgba(17, 3, 3, 0.5),
    0 0 5px rgba(65, 111, 172, 0.267);
}
.box span {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}
.box span:nth-child(1) {
  transform: rotate(0deg);
}
.box span:nth-child(2) {
  transform: rotate(90deg);
}
.box span:nth-child(3) {
  transform: rotate(180deg);
}
.box span:nth-child(4) {
  transform: rotate(270deg);
}
.container span:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 2.5px;
  background: #50dfdb;

  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
