.App {
  text-align: center;
  display: block;
  background-color: black;
  color: rgb(188, 183, 183);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  
   
    
}
.row{
  margin-bottom: 2.2%;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(7, 7, 7);
  border-radius: 56%;

}
.container .row:nth-child(2){
  background: linear-gradient(315deg,#000000,rgb(6, 59, 146));
}
.container .row:nth-child(1){
  background: linear-gradient(315deg,#1d1717,rgb(6, 59, 146));
}
.container .row:nth-child(3){
  background: linear-gradient(315deg,#1d1717,rgb(6, 59, 146));
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


