.Allcards {
    display: grid;
    justify-content: center;
    /* align-items: center; */
    /* grid-auto-flow: column; */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     */
    grid-template-columns: repeat(auto-fill, 500px);
    grid-gap: 100px;
    grid-auto-rows: 300px;
    font-family: proxima-nova, sans-serif;
    /* grid-template-columns: 100px; */
}

.imagecard {
    position: relative;
    right: 0;
    /* transform-style: preserve-3d;
    transition: all 0.5s ease; */
}


/* .imagecard:hover {
    transform: rotateY(180deg);
   
} */

.card_dp:hover {
    opacity: 0;
    cursor: pointer;
}

.card_dp {
    transition: all 0.5s ease;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    padding: 0;
    margin: 10px 20px 0 0;
    backface-visibility: hidden;
    -webkit-transition: opacity is ease-in-out;
    -moz-transition: opacity is ease-in-out;
    -ms-transition: opacity is ease-in-out;
    -o-transition: opacity is ease-in-out;
}

.cardfront {
    transition: all 0.8s ease;
    position: absolute;
    right: 0;
    /*transform-style: preserve-3d;
    */
    /*backface-visibility: hidden;
    */
    /*overflow: hidden;
    */
}


/* .cardback {
    position: absolute;
    right: 0;
    backface-visibility: hidden;
    overflow: hidden;
    transform: rotateY(180deg);
} */


/* .info_card {
  border: 2px solid red;
   
  border-radius: 2px;
  background-color: #e2e0e6;
} */

.cardsection {
    background-color: #03112c;
    padding-top: 75px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* width: 100%; */
    /* padding-left: 200px; */
}

.name {
    font-size: 30px;
    color: #f2f4f4;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
}

.cardtop {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #0a1e44;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.info_card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #142e5f;
    margin: 50px 0;
    height: 250px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
}

.cardbottom {
    color: #ccc;
    margin-top: 120px;
}